body {
  background-color: #f2af53;
  color: #9a2601;
}
body > div.content.small {
  width: 100%;
  max-width: 600px;
  margin: auto;
}
body > div.content.large {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

a {
  color: rgba(167, 72, 41, 0.7);
  text-decoration: none;
}
a:hover {
  color: #a74829;
  text-decoration: underline;
}